/* 
html,
body{
   margin:0;
   padding:0;
} */




#footer{
    
    

   
    
    width: 100%;
    height: 190px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 0px;
}
.socials img{
    display: inline-block;
    width: 30px;
    /* margin-right: 15px; */
}

.socials{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    width: 100px;
}
.socials2{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    width: 100px;
}


.links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    /* width: 34rem; */
   
    /* width: 500px; */
    gap: 2rem;
}
.links a{
    text-decoration: none;
    font-family: brandon;
    color: rgb(153, 153, 153);
    font-size: 1rem;
    transition-timing-function: ease;
    transition-duration: .8s;
}
.links a:hover {
    color: rgb(255, 255, 255);
    transition-timing-function: ease;
    transition-duration: .8s;
}

.copyright{
    color: white;
    font-family: futura;
    
    
}

.space{
    margin-top: 10px;
}

@media screen and (max-width: 600px){
    .links a{
        font-size: 14px;
        font-size: 3.8vw;

    }
    .links{ width: 90vw;
    gap: 5px;}
}