body{
    scroll-behavior: smooth;
    
}

.header{
    /* top: 70px; position: relative; */
    height:100vh;
    position: relative;
    top: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: red;
    background-image: url('../../imgs/overhead.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header h1{
    text-align: center;
    font-size: 6rem;
    color: white;
    font-family: brandon;
    padding: 1rem;
    text-shadow: 10px 10px 15px rgb(0, 0, 0);
}
.text{
    font-size: 3.4rem;
    font-family: brandon;
    max-width: 400px;
    color: white;
}
.text span{
    color: rgb(182, 39, 39);
}
.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: blue; */
    height: 500px;
    
}
.linkbuttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 4.5rem;
    /* width: 300px; */
    /* background-color: grey; */
}
.linkbtn{
    background-color:  #C2272F;
    border-radius: 4rem;
    padding: 1.3rem;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: brandon;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    border-color: #9c1b22;
    font-size: 2rem;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.linkbtn:hover{
    background-color:  #7c1a1f;
    border-width: 2px;
    border-style: solid;
    /* border-color: #C2272F; */
}

.header .flexcontainer a{
    text-decoration: none;
    color: white;
    
}

.learnmoresection{
    height: 180px;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow; */
}

.learnmoresection .learnmoretext{
    font-size: 2.5rem;
    font-family: brandon;
    color: white;
}
.downarrow{
    cursor: pointer;
    margin-top: 2rem;
    display: block;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    animation: moveupdown 2s linear infinite;
}
@keyframes moveupdown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
@media screen and (max-width: 600px) {
    .text{
        display: none;
        font-size: 1.55rem;
        font-size: 6.5vw;
        margin: .3rem;
        text-align: center;
    }
    /* .flexcontainer{
        flex-direction: column;
    } */
    .linkbuttons{
        margin-top: 2rem;
        margin-bottom: 2rem;
        gap: 2rem;
    }
    
    .learnmoresection{
       
        height: 50%;
        
    }
    
    .linkbtn{
        width: 65vw;
        font-size: 6vw;
        height: 90px;
    }
    
    .header h1{
        font-size: 4rem;
        margin-top: 1rem;
        margin-top: 1vh;
        margin-bottom: 0;
    }
    .header{
        justify-content: unset;
        /* height: 1000px; */
        
    }
    .learnmoresection .learnmoretext{
        font-size: 2rem;
    }
}