
#bannerlogo{
    width: 200px;
    display: block;
}

#navbar{
    position: fixed;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
    /* background-color: rgba(0, 0, 0, 0.199); */
    height: 70px;
    width: 100%;
    z-index: 2;
    
}



