




#bannerlogo{
    width: 200px;
    display: block;
}


.menubtn{
    display: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 1rem;
    right: 0;
    margin-right: 20px;
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 35px;
    cursor: pointer;
    
}

.menubtn div{
    height: 5px;
    width: 100%;
    margin-bottom: 3px;
    background-color: white;
}

.menubtn div:last-child{
    margin-bottom: 0;
}

#navbar{
    position: fixed;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
    /* background-color: rgba(0, 0, 0, 0.199); */
    height: 70px;
    width: 100%;
    z-index: 2;
    
}
.navlinks{
    margin-right: 20px;
    font-family: brandon;
    display: flex;
    align-items: center;
    flex-direction: row;
    float: right;
    
    
}
.navlinks div{
    /* padding: 20px; */
    display: inline;
    margin-right: 30px;
    vertical-align: center;
    padding: 20px 0px 20px 0px;
    
}

.navlinks div a{
    color: whitesmoke;
    text-decoration: none;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.navlinks div a:hover{
    color: rgb(146, 34, 34);
    
}

#navbar #hidden{
    position: absolute;
    
    margin-right: 30px;
    font-family: brandon;
    display: flex;
    max-height: max-content;
    top: 70px;
    
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: black;
}






@media only screen and (max-width: 700px) {
    div.navlinks{
        display: none;
        
    }
    div.navlinks div{
        padding: .9rem; /*Padding for mobile (how big navbar is)*/
    }
    button.menubtn{
        display: flex;
    }
       
    
}

@media only screen and (min-width: 700px) {
    #navbar #hidden{
        top: 0;
        
        right: 0;
        
        width: fit-content;
        font-family: brandon;
        /* display: flex; */
        /* align-items: center; */
        flex-direction: row;
        
    }
       
    
}